@import '../../assets/styles/colors';
@import '../../assets/styles/images';
@import '../../assets/styles/hexagon';

.footer {
  ::selection {
    color: @dark-grey;
    background: @white;
  }

  background-color: @dark-grey;
  background-image: @pattern-dot-darker-grey;

  p {
    span { color: @grey; }
    span.glyphicon { color: @darkest-grey; }
    margin: 14px 0;
  }

  .partners {
    display: flex;
    justify-content: center;
  }

  .image {
    margin: 35px 0;
    padding: 0 30px;
    max-height: 115px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .mongoPartner {
    content: url('../../assets/images/mongo-partner.png');
  }

  .separator-grey {
    position: relative;
    top: -12px;
    span {
      display: block;
      .hexagon(20, @grey);
    }
  }
}
