@import '../assets/styles/colors';
@import '../assets/styles/fonts';
@import '../assets/styles/media';

body {
  padding-top: 45px;
  font-family: @lato;
  #__APP__ { animation: fadeInDown, 1s; }
  a:hover, a:active, a:focus {
    outline: none;
    cursor: pointer;
  }
  .center-block { float: none; } /* Bootstrap patch */
  ::selection {
    color: @white;
    background: @red;
  }

  q::before, q::after {
    content: none;
  }

  .preloader {
    padding-top: 40px;
    text-align: center;
    color: @red;
    .glyphicon {
      font-size: 200px;
      margin-right: 14px;
    }
  }
}
