@import '../../assets/styles/colors';
@import '../../assets/styles/images';

.technologies {
  nav {
    .row > div {
      a {
        background: @hex-border-light-grey center center no-repeat;
        background-size: contain;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: @grey;
        transition: all .5s ease-in 0s;
        &:hover { color: @white; }
      }
      h3 {
        text-align: center;
        margin-bottom: 0;
        text-transform: uppercase;
        color: @grey;
      }
      p {
        text-align: center;
        color: @grey;
      }
    }
  }

  .splash {
    h2 { margin-top: 60px; }
    h3 {
      span { color: @white; }
    }
    nav {
      margin: 40px 0 20px 0;
      .row > div {
        a {
          padding: 20px;
          font-size: 50px;
          display: block;
          span { top: 10px; }
          &:hover {
            transform: translateY(10px);
          }
        }
        h3 { font-size: 15px; }
        p { font-size: 12px; }
      }
    }
  }

  .javascript .javascript1, #datavisualization, #backend, .contact {
    background-image: @pattern-dot-grey;
    background-color: @light-grey;
  }
  .javascript .javascript2, #frontend, #nosql {
    background-image: @pattern-dot-light-grey;
    background-color: @white;
  }
  #datavisualization, #frontend, #backend, #nosql {
    .image {
      width: auto;
      max-width: 500px;
      padding-bottom: 40px;
      display: inline-block;
      &.nodejs { content: url('../../assets/images/nodejs.png'); }
      &.d3js { content: url('../../assets/images/d3js.png'); }
      &.mongodb { content: url('../../assets/images/mongodb.png'); }
      &.angularjs { content: url('../../assets/images/angularjs.png'); }
      &.react { content: url('../../assets/images/react.png'); }
    }
  }
  #datavisualization img { max-width: none; }
}